<div class="grouped fields item">
  <div class="ui gray label huge"><%= question_index + 1%></div>
  <label for="question" style="font-size: large;font-weight: normal;"><%= test_assignment_question.question.text %></label>
  <div class="ui message">Please write your extended response on a separate sheet of paper.</div>
</div>
