<div class="column">
  <div class="ui container">
    <div></div>
    <h1 class="ui header">Assign a Test</h1>

    <%= render('form', test_assignment: @test_assignment) %>

    <%= link_to('Back', course_path(@course)) %>
  </div>
</div>
