<div class="column">
  <div class="ui container">
    <div></div>
    <h1 class="ui header">Landing page in progress, our best engineers are on the case!</h1>
    <div class="image">
      <img src="/images/hacker_buff.jpg" style="max-width: 65%;">
    </div>
  </div>
</div>
