<div class="column">
  <div class="ui container">
    <% @courses.each do |course| %>
        <div class="ui card">
          <%= link_to(course.name, controller: 'courses', action: 'show', id: course.id) %>
        </div>
    <% end %>

    <div class="ui button">
      <%= link_to('New', controller: 'courses', action: 'new') %>
    </div>
  </div>
</div>
