<div class="column">
  <div class="ui container">
    <div></div>
    <h1 class="ui header">My Classes</h1>
    <% @courses.each do |course| %>
        <div class="ui card">
          <div class="image">
            <img src="/images/book.png">
          </div>
          <div class="content">
            <%= link_to(course.name, controller: 'courses', action: 'show', id: course.id) %>
          </div>

          <div class="extra content">
            <%= link_to edit_course_path(course) do %>
                Edit <i class="edit outline icon"></i>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="ui button">
      <%= link_to('New', controller: 'courses', action: 'new') %>
    </div>
  </div>
</div>
