<% @courses.each do |course| %>
    <div><%= link_to(course.name, controller: 'courses', action: 'show', id: course.id) %></div>
<% end %>

<div>
  <%= link_to('New', controller: 'courses', action: 'new') %>
</div>
