<div class="column">
  <div class="ui container">
    <h3 class="ui header">Students</h3>
    <% @course.students.each do |student| %>
        <div class="ui container">
          <div class="content">
            <%= link_to(student.name, course_student_path(@course, student)) %>
          </div>
        </div>
    <% end %>

    <h3 class="ui header">Tests</h3>
    <% @course.tests.distinct.each do |test| %>
        <div class="ui container">
          <div class="content">
            <%= link_to(test.name, course_test_path(@course, test)) %>
            <%= link_to edit_test_path(test) do %>
                <i class="edit outline icon"></i>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
