<div class="column">
  <div class="ui container">

    <h3 class="ui header">Ungraded Assignments</h3>
    <% @course.test_assignments.submitted.ungraded.each do |assignment| %>
        <div class="ui container">
          <div class="content">
            <%= link_to("#{assignment.student.first_name} #{assignment.student.last_name}: #{assignment.test.name}", course_test_assignment_path(@course, assignment.id)) %>
          </div>

        </div>
    <% end %>

    <div class="ui button">
      <%= link_to('Assign a test', new_course_test_assignment_path(@course)) %>
    </div>

  </div>
</div>
