<div class="column">
  <div class="ui container">
    <div></div>
    <h1 class="ui header">Create an Assessment</h1>

    <%= render('form', test: @test) %>

    <%= link_to('Back', courses_path) %>
  </div>
</div>
